########################################
# APP
########################################
APP_NAME=PadelClub
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/PadelClub

########################################
# DATABASE
########################################
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=padelclub
DB_USERNAME=root
DB_PASSWORD=

########################################
# CLERK
########################################
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_WEBHOOK_SECRET=whsec_xxxxx

########################################
# SESSION
########################################
SESSION_NAME=padelclub_session
SESSION_LIFETIME=120
